# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

In [8]:
import numpy as np
import pandas as pd

air_b = pd.read_csv("/Users/kali/Documents/Project_3/AB_NYC_2019.csv")

In [10]:
display(air_b)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [22]:
# How many neighborhood groups are available and which shows up the most?

air_b.groupby(["neighbourhood_group"]).count()["id"].to_frame()

                        id
neighbourhood_group
Bronx                 1091
Brooklyn             20104
Manhattan            21661
Queens                5666
Staten Island          373

In [23]:
# Are private rooms the most popular in manhattan?
air_b.groupby(["room_type", "neighbourhood_group"]).count()["id"].to_frame()

                                        id
room_type       neighbourhood_group
Entire home/apt Bronx                  379
                Brooklyn              9559
                Manhattan            13199
                Queens                2096
                Staten Island          176
Private room    Bronx                  652
                Brooklyn             10132
                Manhattan             7982
                Queens                3372
                Staten Island          188
Shared room     Bronx                   60
                Brooklyn               413
                Manhattan              480
                Queens                 198
                Staten Island            9

In [29]:
# Which hosts are the busiest and based on their reviews?

air_b.groupby(["host_name", "number_of_reviews"]).count()["id"].sort_values(ascending=False).head(10)

host_name     number_of_reviews
Blueground    0                    204
Sonder (NYC)  0                    120
David         0                     94
Kara          0                     84
Michael       0                     82
Sonder        0                     67
Pranjal       0                     64
Daniel        0                     56
Kazuya        0                     52
Ken           0                     52
Name: id, dtype: int64

In [38]:
#Which neighorhood group has the highest average price?

air_b.groupby(["neighbourhood_group"])["price"].mean().sort_values(ascending=False).round().head(10
                                                                                                 )

neighbourhood_group
Manhattan        197.0
Brooklyn         124.0
Staten Island    115.0
Queens           100.0
Bronx             87.0
Name: price, dtype: float64

In [56]:
# Which neighbor hood group has the highest total price?

air_b.groupby(["neighbourhood_group"])["price"].max().sort_values(ascending=False)

neighbourhood_group
Brooklyn         10000
Manhattan        10000
Queens           10000
Staten Island     5000
Bronx             2500
Name: price, dtype: int64

In [58]:
#Which top 5 hosts have the highest total price?

air_b.groupby(["host_name"])["price"].max().sort_values(ascending=False).head(10)

host_name
Kathrine    10000
Erin        10000
Jelena      10000
Amy          9999
Olson        9999
Matt         9999
Rum          8500
Jessica      8000
Sally        7703
Sandra       7500
Name: price, dtype: int64

In [79]:
# Who currently has no (zero) availability with a review count of 100 or more?

#air_b.groupby("host_name").count()[["availability_365", "number_of_reviews"]].sort_values("availability_365", ascending=True)

air_b[(air_b["number_of_reviews"] >=100) & (air_b["availability_365"] == 0)].groupby(["host_name"], as_index=False).count().sort_values("number_of_reviews", ascending=False)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Michael,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Gurpreet Singh,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Brian,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Emily And Joel,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Jo & Savannah,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ehren,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Edward,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Dragan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Doug,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
正川,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [80]:
# What host has the highest total of prices and where are they located?

air_b.groupby(["host_name", "neighbourhood_group"])["price"].max().sort_values(ascending=False).head(10)

host_name  neighbourhood_group
Erin       Brooklyn               10000
Jelena     Manhattan              10000
Kathrine   Queens                 10000
Matt       Manhattan               9999
Amy        Manhattan               9999
Olson      Manhattan               9999
Rum        Manhattan               8500
Jessica    Brooklyn                8000
Sally      Manhattan               7703
Sandra     Brooklyn                7500
Name: price, dtype: int64

In [108]:
# When did Danielle from Queens last receive a review?

air_b["last_review"] = pd.to_datetime(air_b["last_review"])

air_b[(air_b["host_name"] == "Danielle")].groupby(["host_name"])["last_review"].max()

host_name
Danielle   2019-07-08
Name: last_review, dtype: datetime64[ns]

## Further Questions

1. Which host has the most listings?

In [91]:
air_b.groupby(["host_name"])["calculated_host_listings_count"].count().sort_values(ascending=False)

host_name
Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
               ...
Jerbean           1
Jerald            1
Jeonghoon         1
Jeny              1
현선                1
Name: calculated_host_listings_count, Length: 11452, dtype: int64

2. How many listings have completely open availability?

In [104]:
air_b[(air_b["availability_365"] == 365)]["id"].count()

1295

3. What room_types have the highest review numbers?

In [105]:
air_b.groupby("room_type")["number_of_reviews"].sum()

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please describe them here.

-- Add your conclusion --

Prices show indication of outliers, may want to double check for data errors. 
Data would be more complete with a scale for the ratings rather than just the number of ratings
Data should be re-evaluaged, confirming nightly prices, and length of stay.